.login-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 30px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .mb-3 {
    position: relative;
  }
  .form-control {
    padding-left: 40px; /* Space for the icon */
  }
  .form-control-icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    font-size: 16px;
    color: #aaa;
  }
  .btnlogin {
    background-color: #a12323;
    color: white;
    border: none;
  }
  .btnlogin:hover {
    background-color: #2352A1;
  }
  .forget {
    color: #2352A1;
    text-decoration: none;
  }